In [1]:
#import libraries 
import pandas as pd 
import numpy as np 
import os 
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [2]:
#path to project
path = r'C:\Users\rtkel\Documents\Data Analytics Course\European Cities Airbnb Project'

In [3]:
path

'C:\\Users\\rtkel\\Documents\\Data Analytics Course\\European Cities Airbnb Project'

### Import Datasets. For each add a column indicating its city and a column indicating whether the data is from weekdays and weekends.

In [4]:
# Amsterdam Weekdays
df_amsterdam_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'amsterdam_weekdays.csv'), index_col=False)
df_amsterdam_weekdays['city'] = 'Amsterdam'
df_amsterdam_weekdays['day_type'] = 'Weekday'
df_amsterdam_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam,Weekday
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam,Weekday
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam,Weekday
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam,Weekday
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam,Weekday

In [5]:
# Amsterdam Weekends
df_amsterdam_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'amsterdam_weekends.csv'), index_col=False)
df_amsterdam_weekends['city'] = 'Amsterdam'
df_amsterdam_weekends['day_type'] = 'Weekend'
df_amsterdam_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam,Weekend
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam,Weekend
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam,Weekend
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam,Weekend
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,...,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam,Weekend

In [6]:
# Athens Weekdays
df_athens_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'athens_weekdays.csv'), index_col=False)
df_athens_weekdays['city'] = 'Athens'
df_athens_weekdays['day_type'] = 'Weekday'
df_athens_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,129.824479,Entire home/apt,False,False,4.0,False,0,0,10.0,...,2.813964,0.881890,55.348572,2.086871,78.778377,5.915160,23.76600,37.98300,Athens,Weekday
1,1,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,...,0.407293,0.304568,240.306654,9.060559,407.167696,30.572629,23.73168,37.97776,Athens,Weekday
2,2,156.304923,Entire home/apt,False,False,3.0,True,0,1,10.0,...,1.237211,0.288488,199.507366,7.522257,395.967403,29.731642,23.72200,37.97900,Athens,Weekday
3,3,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,...,4.367457,0.297467,39.803047,1.500740,58.706578,4.408047,23.72712,38.01435,Athens,Weekday
4,4,74.051508,Private room,False,True,2.0,False,0,0,10.0,...,2.194185,0.385266,78.733405,2.968577,113.325973,8.509204,23.73391,37.99529,Athens,Weekday

In [7]:
# Athens Weekends
df_athens_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'athens_weekends.csv'), index_col=False)
df_athens_weekends['city'] = 'Athens'
df_athens_weekends['day_type'] = 'Weekend'
df_athens_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,...,0.407278,0.304570,240.306496,9.054205,407.167958,6.080622,23.73168,37.97776,Athens,Weekend
1,1,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,...,4.367463,0.297474,39.802996,1.499687,58.706522,0.876720,23.72712,38.01435,Athens,Weekend
2,2,76.629250,Private room,False,True,2.0,False,0,0,10.0,...,2.194174,0.385247,78.734001,2.966519,113.326684,1.692414,23.73391,37.99529,Athens,Weekend
3,3,151.852459,Entire home/apt,False,False,4.0,True,0,1,10.0,...,2.508982,0.563473,68.774881,2.591282,101.162069,1.510748,23.73200,37.99800,Athens,Weekend
4,4,98.657231,Entire home/apt,False,False,2.0,True,1,0,10.0,...,2.740581,0.725045,62.902859,2.370037,92.611125,1.383049,23.73100,38.00000,Athens,Weekend

In [8]:
# Barcelona Weekdays
df_barcelona_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'barcelona_weekdays.csv'), index_col=False)
df_barcelona_weekdays['city'] = 'Barcelona'
df_barcelona_weekdays['day_type'] = 'Weekday'
df_barcelona_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,474.317499,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1.111996,0.630491,526.469420,17.942927,915.587083,20.154890,2.17556,41.39624,Barcelona,Weekday
1,1,169.897829,Private room,False,True,2.0,True,1,0,10.0,...,1.751839,0.124017,320.127526,10.910462,794.277350,17.484489,2.14906,41.38714,Barcelona,Weekday
2,2,161.984779,Private room,False,True,4.0,False,0,1,9.0,...,1.670493,0.080322,344.073936,11.726595,840.673617,18.505814,2.15357,41.37859,Barcelona,Weekday
3,3,367.956804,Entire home/apt,False,False,3.0,False,0,1,10.0,...,1.475847,0.093107,400.057449,13.634603,946.589884,20.837357,2.16839,41.37390,Barcelona,Weekday
4,4,196.895292,Private room,False,True,3.0,False,1,0,9.0,...,1.855452,0.272486,346.042245,11.793678,792.296039,17.440874,2.15238,41.37699,Barcelona,Weekday

In [9]:
# Barcelona Weekends
df_barcelona_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'barcelona_weekends.csv'), index_col=False)
df_barcelona_weekends['city'] = 'Barcelona'
df_barcelona_weekends['day_type'] = 'Weekend'
df_barcelona_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,532.036214,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624,Barcelona,Weekend
1,1,169.897829,Private room,False,True,2.0,True,1,0,10.0,...,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714,Barcelona,Weekend
2,2,196.895292,Private room,False,True,2.0,False,1,0,9.0,...,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300,Barcelona,Weekend
3,3,141.271208,Private room,False,True,3.0,False,0,1,9.0,...,1.648311,0.089442,342.595820,13.228021,820.921958,18.032897,2.15342,41.37912,Barcelona,Weekend
4,4,715.200037,Entire home/apt,False,False,4.0,True,0,1,9.0,...,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214,Barcelona,Weekend

In [10]:
# Berlin Weekdays
df_berlin_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'berlin_weekdays.csv'), index_col=False)
df_berlin_weekdays['city'] = 'Berlin'
df_berlin_weekdays['day_type'] = 'Weekday'
df_berlin_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,185.799757,Private room,False,True,2.0,True,0,0,10.0,...,3.582211,0.174706,105.063708,16.019042,148.941114,30.710638,13.42344,52.49150,Berlin,Weekday
1,1,194.914462,Private room,False,True,5.0,False,0,1,9.0,...,3.525410,0.511922,75.339529,11.487002,106.442356,21.947685,13.46800,52.51900,Berlin,Weekday
2,2,176.217631,Private room,False,True,2.0,False,0,0,9.0,...,3.801713,0.281397,73.669176,11.232324,105.440205,21.741048,13.47096,52.51527,Berlin,Weekday
3,3,207.768533,Private room,False,True,3.0,True,0,0,10.0,...,0.982408,0.705573,133.187409,20.307057,198.233362,40.874362,13.42281,52.53139,Berlin,Weekday
4,4,150.743199,Private room,False,True,2.0,False,0,0,10.0,...,8.869697,2.187188,39.860151,6.077469,50.996308,10.515090,13.52440,52.47842,Berlin,Weekday

In [11]:
# Berlin Weekends
df_berlin_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'berlin_weekends.csv'), index_col=False)
df_berlin_weekends['city'] = 'Berlin'
df_berlin_weekends['day_type'] = 'Weekend'
df_berlin_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,185.799757,Private room,False,True,2,True,0,0,10.0,...,3.582222,0.174708,105.063613,16.013858,148.940768,31.511339,13.42344,52.49150,Berlin,Weekend
1,1,387.491820,Entire home/apt,False,False,6,False,0,1,10.0,...,6.082132,0.480956,52.877461,8.059614,66.884920,14.150816,13.50300,52.50900,Berlin,Weekend
2,2,194.914462,Private room,False,True,5,False,0,1,9.0,...,3.525398,0.511928,75.339762,11.483331,106.443168,22.520139,13.46800,52.51900,Berlin,Weekend
3,3,171.777134,Private room,False,True,2,False,0,0,9.0,...,3.801739,0.281385,73.668908,11.228659,105.438990,22.307685,13.47096,52.51527,Berlin,Weekend
4,4,207.768533,Private room,False,True,3,True,0,0,10.0,...,0.982405,0.705579,133.187395,20.300502,198.233241,41.940128,13.42281,52.53139,Berlin,Weekend

In [12]:
# Budapest Weekdays
df_budapest_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'budapest_weekdays.csv'), index_col=False)
df_budapest_weekdays['city'] = 'Budapest'
df_budapest_weekdays['day_type'] = 'Weekday'
df_budapest_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,238.990459,Entire home/apt,False,False,6.0,True,0,1,10.0,...,0.359355,0.352643,404.404677,24.116552,893.477343,67.656853,19.05074,47.50076,Budapest,Weekday
1,1,300.794285,Entire home/apt,False,False,6.0,False,0,1,9.0,...,0.929427,0.200235,1676.876030,100.000000,452.539717,34.267700,19.04493,47.50405,Budapest,Weekday
2,2,162.381915,Entire home/apt,False,False,4.0,True,0,0,10.0,...,2.450840,0.279452,163.588493,9.755551,191.992270,14.538245,19.02170,47.49882,Budapest,Weekday
3,3,118.437750,Entire home/apt,False,False,2.0,False,0,0,9.0,...,1.559449,0.477971,191.719844,11.433155,326.215588,24.702048,19.06301,47.51126,Budapest,Weekday
4,4,134.417446,Entire home/apt,False,False,4.0,True,1,0,10.0,...,1.113803,0.270102,198.603460,11.843658,635.515884,48.123218,19.06900,47.49900,Budapest,Weekday

In [13]:
# Budapest Weekends
df_budapest_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'budapest_weekends.csv'), index_col=False)
df_budapest_weekends['city'] = 'Budapest'
df_budapest_weekends['day_type'] = 'Weekend'
df_budapest_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,332.048691,Entire home/apt,False,False,6.0,True,0,1,10.0,...,0.359372,0.352662,404.398511,24.136091,893.418228,78.100790,19.05074,47.50076,Budapest,Weekend
1,1,331.108709,Entire home/apt,False,False,6.0,False,0,1,9.0,...,0.929438,0.200219,1675.492994,100.000000,452.536452,39.559809,19.04493,47.50405,Budapest,Weekend
2,2,243.925365,Entire home/apt,False,False,6.0,False,1,0,10.0,...,0.674318,0.314709,430.053337,25.667272,698.767674,61.084838,19.04809,47.50297,Budapest,Weekend
3,3,206.561075,Entire home/apt,False,False,5.0,True,1,0,10.0,...,1.338114,0.614128,482.626888,28.805067,371.541633,32.479408,19.03685,47.50104,Budapest,Weekend
4,4,238.285473,Entire home/apt,False,False,4.0,False,1,0,9.0,...,0.835635,0.175568,535.762958,31.976437,534.317055,46.708902,19.04655,47.50398,Budapest,Weekend

In [14]:
# Lisbon Weekdays
df_lisbon_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'lisbon_weekdays.csv'), index_col=False)
df_lisbon_weekdays['city'] = 'Lisbon'
df_lisbon_weekdays['day_type'] = 'Weekday'
df_lisbon_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,138.133208,Private room,False,True,2.0,True,1,0,10.0,...,4.328029,0.298484,74.230170,2.450656,176.868292,7.910210,-9.14034,38.75137,Lisbon,Weekday
1,1,124.061914,Private room,False,True,2.0,True,1,0,10.0,...,4.465504,0.293603,72.570845,2.395875,173.909352,7.777875,-9.14092,38.75260,Lisbon,Weekday
2,2,194.183865,Private room,False,True,4.0,True,1,0,10.0,...,4.475232,0.167860,72.517895,2.394127,177.996137,7.960651,-9.14245,38.75264,Lisbon,Weekday
3,3,191.604128,Entire home/apt,False,False,4.0,False,0,1,9.0,...,0.850978,0.589445,409.695507,13.525805,806.463205,36.068044,-9.13000,38.71100,Lisbon,Weekday
4,4,327.861163,Entire home/apt,False,False,6.0,False,1,0,9.0,...,0.667029,0.530351,537.015471,17.729183,775.718380,34.693021,-9.13200,38.71300,Lisbon,Weekday

In [15]:
# Lisbon Weekends
df_lisbon_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'lisbon_weekends.csv'), index_col=False)
df_lisbon_weekends['city'] = 'Lisbon'
df_lisbon_weekends['day_type'] = 'Weekend'
df_lisbon_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,137.664165,Private room,False,True,2.0,True,1,0,10.0,...,4.328041,0.298493,74.230019,2.448349,176.867933,9.940446,-9.14034,38.75137,Lisbon,Weekend
1,1,123.827392,Private room,False,True,2.0,True,1,0,10.0,...,4.465486,0.293602,72.571059,2.393631,173.909831,9.774192,-9.14092,38.75260,Lisbon,Weekend
2,2,193.011257,Private room,False,True,4.0,True,1,0,10.0,...,4.475239,0.167851,72.517817,2.391875,177.996433,10.003870,-9.14245,38.75264,Lisbon,Weekend
3,3,326.219512,Entire home/apt,False,False,6.0,False,1,0,9.0,...,0.667018,0.530362,537.049195,17.713637,775.734765,43.598345,-9.13200,38.71300,Lisbon,Weekend
4,4,174.484053,Private room,False,True,3.0,False,0,1,10.0,...,4.888606,0.466018,67.971330,2.241917,160.215069,9.004511,-9.14053,38.75642,Lisbon,Weekend

In [16]:
# London Weekdays
df_london_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'london_weekdays.csv'), index_col=False)
df_london_weekdays['city'] = 'London'
df_london_weekdays['day_type'] = 'Weekday'
df_london_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,570.098074,Entire home/apt,False,False,2.0,False,0,0,10.0,...,5.301018,1.588990,209.632578,14.571793,467.597522,8.372724,-0.16032,51.46531,London,Weekday
1,1,297.984430,Private room,False,True,2.0,True,1,0,10.0,...,2.198946,0.379262,553.891744,38.501630,961.472137,17.215961,-0.09683,51.50343,London,Weekday
2,2,336.790611,Private room,False,True,2.0,False,1,0,10.0,...,2.322958,0.453178,428.287849,29.770764,959.042839,17.172462,-0.10554,51.52407,London,Weekday
3,3,226.722171,Private room,False,True,2.0,True,1,0,10.0,...,5.707825,1.723977,195.694744,13.602959,452.232472,8.097600,-0.16575,51.46292,London,Weekday
4,4,256.355982,Private room,False,True,3.0,False,0,0,9.0,...,3.257945,0.825417,329.477068,22.902317,735.327280,13.166649,-0.12055,51.53728,London,Weekday

In [17]:
# London Weekends
df_london_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'london_weekends.csv'), index_col=False)
df_london_weekends['city'] = 'London'
df_london_weekends['day_type'] = 'Weekend'
df_london_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,121.122322,Private room,False,True,2.0,False,0,0,6.0,...,5.734117,0.437094,222.882243,15.493414,470.088502,8.413765,-0.04975,51.52570,London,Weekend
1,1,195.912416,Private room,False,True,2.0,False,1,0,10.0,...,4.788905,1.464050,235.385841,16.362588,530.133525,9.488466,-0.08475,51.54210,London,Weekend
2,2,193.325337,Private room,False,True,3.0,False,1,0,10.0,...,4.596677,0.450306,268.913812,18.693247,548.987610,9.825922,-0.14585,51.54802,London,Weekend
3,3,180.389943,Private room,False,True,2.0,False,1,0,9.0,...,2.054769,0.132670,472.381314,32.837067,1021.271062,18.278973,-0.10611,51.52108,London,Weekend
4,4,405.700981,Entire home/apt,False,False,3.0,False,0,1,7.0,...,4.491277,0.354108,318.491470,22.139584,692.775411,12.399473,-0.18797,51.49399,London,Weekend

In [18]:
# Paris Weekdays
df_paris_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'paris_weekdays.csv'), index_col=False)
df_paris_weekdays['city'] = 'Paris'
df_paris_weekdays['day_type'] = 'Weekday'
df_paris_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,296.159940,Private room,False,True,2.0,True,0,0,10.0,...,0.699821,0.193709,518.478947,25.239380,1218.662228,71.608028,2.35385,48.86282,Paris,Weekday
1,1,288.237487,Private room,False,True,2.0,True,0,0,10.0,...,2.100005,0.107221,873.216962,42.507907,1000.543327,58.791463,2.32436,48.85902,Paris,Weekday
2,2,211.343089,Private room,False,True,2.0,False,0,0,10.0,...,3.302325,0.234724,444.556077,21.640840,902.854467,53.051310,2.31714,48.87475,Paris,Weekday
3,3,298.956100,Entire home/apt,False,False,2.0,False,0,1,9.0,...,0.547567,0.195997,542.142014,26.391291,1199.184166,70.463506,2.35600,48.86100,Paris,Weekday
4,4,247.926181,Entire home/apt,False,False,4.0,False,0,0,7.0,...,1.197921,0.103573,406.928958,19.809165,1070.775497,62.918272,2.35915,48.86648,Paris,Weekday

In [19]:
# Paris Weekends
df_paris_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'paris_weekends.csv'), index_col=False)
df_paris_weekends['city'] = 'Paris'
df_paris_weekends['day_type'] = 'Weekend'
df_paris_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,536.396682,Entire home/apt,False,False,5.0,False,0,1,9.0,...,1.351201,0.212346,390.776775,19.001549,1030.738507,47.550371,2.35900,48.86800,Paris,Weekend
1,1,290.101594,Private room,False,True,2.0,True,0,0,10.0,...,0.699821,0.193710,518.478270,25.211044,1218.658866,56.219575,2.35385,48.86282,Paris,Weekend
2,2,445.754497,Entire home/apt,False,False,4.0,False,0,1,10.0,...,0.968982,0.294343,432.689942,21.039580,1069.894793,49.356741,2.36023,48.86375,Paris,Weekend
3,3,211.343089,Private room,False,True,2.0,False,0,0,10.0,...,3.302319,0.234740,444.555284,21.616533,902.856370,41.650870,2.31714,48.87475,Paris,Weekend
4,4,266.334234,Entire home/apt,False,False,2.0,True,0,0,9.0,...,1.402430,0.055052,1013.458689,49.279502,1348.063511,62.189313,2.33408,48.85384,Paris,Weekend

In [20]:
# Rome Weekdays
df_rome_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'rome_weekdays.csv'), index_col=False)
df_rome_weekdays['city'] = 'Rome'
df_rome_weekdays['day_type'] = 'Weekday'
df_rome_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,156.874664,Private room,False,True,2.0,True,1,0,10.0,...,2.978468,1.595733,281.163932,6.230648,697.727246,15.191486,12.48654,41.92498,Rome,Weekday
1,1,172.772543,Private room,False,True,2.0,False,1,0,9.0,...,0.935371,0.649269,482.707193,10.696887,1251.524333,27.249208,12.49627,41.90801,Rome,Weekday
2,2,277.745307,Entire home/apt,False,False,4.0,False,0,1,9.0,...,2.203025,0.494697,691.708998,15.328408,1625.897266,35.400361,12.47700,41.90700,Rome,Weekday
3,3,444.906834,Entire home/apt,False,False,6.0,False,1,0,9.0,...,2.703010,1.295153,805.592641,17.852092,2035.819533,44.325522,12.46969,41.90019,Rome,Weekday
4,4,131.391298,Private room,False,True,3.0,False,1,0,9.0,...,1.295968,0.867455,317.076369,7.026475,836.622814,18.215634,12.51544,41.89463,Rome,Weekday

In [21]:
# Rome Weekends
df_rome_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'rome_weekends.csv'), index_col=False)
df_rome_weekends['city'] = 'Rome'
df_rome_weekends['day_type'] = 'Weekend'
df_rome_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,172.772543,Private room,False,True,2.0,False,0,0,10.0,...,1.222582,0.397760,550.078435,12.187232,1075.412107,23.430621,12.50181,41.88987,Rome,Weekend
1,1,156.874664,Private room,False,True,2.0,True,1,0,10.0,...,2.978482,1.595742,281.162756,6.229285,697.725034,15.201736,12.48654,41.92498,Rome,Weekend
2,2,195.917986,Private room,False,True,2.0,False,1,0,9.0,...,0.935379,0.649273,482.708059,10.694611,1251.514249,27.267459,12.49627,41.90801,Rome,Weekend
3,3,298.552825,Entire home/apt,False,False,4.0,False,0,1,9.0,...,2.203023,0.494699,691.716421,15.325284,1625.911297,35.424663,12.47700,41.90700,Rome,Weekend
4,4,131.391298,Private room,False,True,3.0,False,1,0,9.0,...,1.295984,0.867473,317.074092,7.024917,836.616071,18.227835,12.51544,41.89463,Rome,Weekend

In [22]:
# Vienna Weekdays
df_vienna_weekdays = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'vienna_weekdays.csv'), index_col=False)
df_vienna_weekdays['city'] = 'Vienna'
df_vienna_weekdays['day_type'] = 'Weekday'
df_vienna_weekdays.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,250.566814,Entire home/apt,False,False,3.0,True,1,0,10.0,...,1.732893,0.212627,118.646831,8.496979,185.096720,4.424871,16.36500,48.22300,Vienna,Weekday
1,1,156.604259,Entire home/apt,False,False,3.0,False,0,0,10.0,...,4.807912,0.228253,80.145015,5.739643,85.727600,2.049380,16.33356,48.17459,Vienna,Weekday
2,2,283.056354,Entire home/apt,False,False,5.0,True,0,1,10.0,...,2.811773,0.244163,101.248112,7.250957,151.364288,3.618473,16.33600,48.21100,Vienna,Weekday
3,3,301.755370,Entire home/apt,False,False,4.0,True,0,1,10.0,...,3.240595,0.610430,92.473938,6.622588,129.863831,3.104489,16.33006,48.20921,Vienna,Weekday
4,4,150.760816,Entire home/apt,False,False,2.0,True,0,1,10.0,...,2.241146,1.119507,124.256767,8.898738,154.348971,3.689824,16.38867,48.19104,Vienna,Weekday

In [23]:
# Vienna Weekends
df_vienna_weekends = pd.read_csv(os.path.join(path, '02 Data', 'Original data', 'vienna_weekends.csv'), index_col=False)
df_vienna_weekends['city'] = 'Vienna'
df_vienna_weekends['day_type'] = 'Weekend'
df_vienna_weekends.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,324.661665,Entire home/apt,False,False,4.0,True,0,1,10.0,...,3.240613,0.610450,92.473467,6.622340,129.862880,3.138736,16.33006,48.20921,Vienna,Weekend
1,1,150.760816,Entire home/apt,False,False,2.0,True,0,1,10.0,...,2.241126,1.119505,124.258002,8.898538,154.350322,3.730588,16.38867,48.19104,Vienna,Weekend
2,2,196.339668,Entire home/apt,False,False,3.0,True,0,1,9.0,...,2.371551,0.452419,125.413127,8.981261,206.642494,4.994469,16.34236,48.20436,Vienna,Weekend
3,3,107.753079,Private room,False,True,2.0,False,0,0,8.0,...,3.629114,0.473164,62.459416,4.472931,93.810714,2.267369,16.37837,48.24102,Vienna,Weekend
4,4,196.339668,Entire home/apt,False,False,4.0,True,0,1,9.0,...,2.395063,0.443635,124.020359,8.881520,202.318070,4.889950,16.34198,48.20456,Vienna,Weekend

### Datasets all imported. Now can merge datasets.

In [24]:
# List all DataFrames
%who DataFrame

df_amsterdam_weekdays	 df_amsterdam_weekends	 df_athens_weekdays	 df_athens_weekends	 df_barcelona_weekdays	 df_barcelona_weekends	 df_berlin_weekdays	 df_berlin_weekends	 df_budapest_weekdays
df_budapest_weekends	 df_lisbon_weekdays	 df_lisbon_weekends	 df_london_weekdays	 df_london_weekends	 df_paris_weekdays	 df_paris_weekends	 df_rome_weekdays	 df_rome_weekends
df_vienna_weekdays	 df_vienna_weekends

In [25]:
# List of DataFrames
dataframes_list = [
    df_amsterdam_weekdays, df_amsterdam_weekends, 
    df_athens_weekdays, df_athens_weekends, 
    df_barcelona_weekdays, df_barcelona_weekends, 
    df_berlin_weekdays, df_berlin_weekends, 
    df_budapest_weekdays, df_budapest_weekends, 
    df_lisbon_weekdays, df_lisbon_weekends, 
    df_london_weekdays, df_london_weekends, 
    df_paris_weekdays, df_paris_weekends, 
    df_rome_weekdays, df_rome_weekends, 
    df_vienna_weekdays, df_vienna_weekends
]

In [26]:
# Merge dataframe
merged_df = pd.concat(dataframes_list, ignore_index=True)

In [27]:
merged_df.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,194.033698,Private room,False,True,2.0,False,1,0,10.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam,Weekday
1,1,344.245776,Private room,False,True,4.0,False,0,0,8.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam,Weekday
2,2,264.101422,Private room,False,True,2.0,False,0,1,9.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam,Weekday
3,3,433.529398,Private room,False,True,4.0,False,0,1,9.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam,Weekday
4,4,485.552926,Private room,False,True,2.0,True,0,0,10.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam,Weekday

### Datasets all merged. Now can drop unnecessary columns, rename and reorder columns, check data for duplicates, check data for missing values, and describe data.

In [28]:
#Drop unncecessary column
merged_df = merged_df.drop(columns=['Unnamed: 0'])

In [29]:
#Rename columns
merged_df.rename(columns={
    'realSum': 'Total Price',
    'room_type': 'Room Type',
    'room_shared': 'Room Shared',
    'room_private': 'Room Private',
    'person_capacity': 'Person Capacity',
    'host_is_superhost': 'Superhost',
    'multi': 'Multiple Rooms',
    'biz': 'Business Listing',
    'cleanliness_rating': 'Cleanliness Rating',
    'guest_satisfaction_overall': 'Overall Guest Satisfaction Rating',
    'bedrooms': 'Number of Bedrooms',
    'dist': 'Distance from City Centre',
    'metro_dist': 'Distance from Nearest Metro Station',
    'attr_index': 'Attraction Index',
    'attr_index_norm': 'Normalized Attraction Index',
    'rest_index': 'Restaurant Index',
    'rest_index_norm': 'Normalized Restaurant Index',
    'lng': 'Longitude',
    'lat': 'Latitude',
    'city': 'City',
    'day_type': 'Time of Week'
}, inplace=True)

In [30]:
merged_df.head()

,Total Price,Room Type,Room Shared,Room Private,Person Capacity,Superhost,Multiple Rooms,Business Listing,Cleanliness Rating,Overall Guest Satisfaction Rating,...,Distance from City Centre,Distance from Nearest Metro Station,Attraction Index,Normalized Attraction Index,Restaurant Index,Normalized Restaurant Index,Longitude,Latitude,City,Time of Week
0,194.033698,Private room,False,True,2.0,False,1,0,10.0,93.0,...,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772,Amsterdam,Weekday
1,344.245776,Private room,False,True,4.0,False,0,0,8.0,85.0,...,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432,Amsterdam,Weekday
2,264.101422,Private room,False,True,2.0,False,0,1,9.0,87.0,...,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103,Amsterdam,Weekday
3,433.529398,Private room,False,True,4.0,False,0,1,9.0,90.0,...,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663,Amsterdam,Weekday
4,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,...,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508,Amsterdam,Weekday

In [31]:
# Reorder columns
merged_df = merged_df[
    ['City', 'Time of Week',
     'Room Type', 'Room Shared', 'Room Private', 'Person Capacity',
     'Multiple Rooms', 'Business Listing', 'Number of Bedrooms',
     'Total Price', 'Cleanliness Rating', 'Overall Guest Satisfaction Rating',
     'Distance from City Centre', 'Distance from Nearest Metro Station',
     'Attraction Index', 'Normalized Attraction Index',
     'Restaurant Index', 'Normalized Restaurant Index',
     'Longitude', 'Latitude']
]

In [32]:
merged_df.head()

,City,Time of Week,Room Type,Room Shared,Room Private,Person Capacity,Multiple Rooms,Business Listing,Number of Bedrooms,Total Price,Cleanliness Rating,Overall Guest Satisfaction Rating,Distance from City Centre,Distance from Nearest Metro Station,Attraction Index,Normalized Attraction Index,Restaurant Index,Normalized Restaurant Index,Longitude,Latitude
0,Amsterdam,Weekday,Private room,False,True,2.0,1,0,1,194.033698,10.0,93.0,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473,4.90569,52.41772
1,Amsterdam,Weekday,Private room,False,True,4.0,0,0,1,344.245776,8.0,85.0,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928,4.90005,52.37432
2,Amsterdam,Weekday,Private room,False,True,2.0,0,1,1,264.101422,9.0,87.0,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700,4.97512,52.36103
3,Amsterdam,Weekday,Private room,False,True,4.0,0,1,2,433.529398,9.0,90.0,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565,4.89417,52.37663
4,Amsterdam,Weekday,Private room,False,True,2.0,0,0,1,485.552926,10.0,98.0,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677,4.90051,52.37508

In [33]:
# Check for duplicate rows
duplicate_rows = merged_df[merged_df.duplicated()]

# Display duplicate rows, if any
if not duplicate_rows.empty:
    print("Duplicate Rows:")
    print(duplicate_rows)
else:
    print("No Duplicate Rows")

No Duplicate Rows

In [34]:
# Check for missing values
missing_values = merged_df.isnull().sum()

# Display columns with missing values, if any
if not missing_values[missing_values > 0].empty:
    print("Columns with Missing Values:")
    print(missing_values[missing_values > 0])
else:
    print("No Missing Values")

No Missing Values

In [35]:
merged_df.describe()

,Person Capacity,Multiple Rooms,Business Listing,Number of Bedrooms,Total Price,Cleanliness Rating,Overall Guest Satisfaction Rating,Distance from City Centre,Distance from Nearest Metro Station,Attraction Index,Normalized Attraction Index,Restaurant Index,Normalized Restaurant Index,Longitude,Latitude
count,51707.000000,51707.000000,51707.000000,51707.00000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000,51707.000000
mean,3.161661,0.291353,0.350204,1.15876,279.879591,9.390624,92.628232,3.191285,0.681540,294.204105,13.423792,626.856696,22.786177,7.426068,45.671128
std,1.298545,0.454390,0.477038,0.62741,327.948386,0.954868,8.945531,2.393803,0.858023,224.754123,9.807985,497.920226,17.804096,9.799725,5.249263
min,2.000000,0.000000,0.000000,0.00000,34.779339,2.000000,20.000000,0.015045,0.002301,15.152201,0.926301,19.576924,0.592757,-9.226340,37.953000
25%,2.000000,0.000000,0.000000,1.00000,148.752174,9.000000,90.000000,1.453142,0.248480,136.797385,6.380926,250.854114,8.751480,-0.072500,41.399510
50%,3.000000,0.000000,0.000000,1.00000,211.343089,10.000000,95.000000,2.613538,0.413269,234.331748,11.468305,522.052783,17.542238,4.873000,47.506690
75%,4.000000,1.000000,1.000000,1.00000,319.694287,10.000000,99.000000,4.263077,0.737840,385.756381,17.415082,832.628988,32.964603,13.518825,51.471885
max,6.000000,1.000000,1.000000,10.00000,18545.450285,10.000000,100.000000,25.284557,14.273577,4513.563486,100.000000,6696.156772,100.000000,23.786020,52.641410

In [36]:
#export data
merged_df.to_csv(os.path.join(path, '02 Data','Prepared Data', 'merged_df.csv'))